Python HOME

In [2]:
print('Hello World')

Hello World

Python Get Started

In [5]:
import sys

print(sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]

Python Syntax

In [8]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [10]:
if 5 > 2:
 print("Five is greater than two") 
if 5 > 2:
        print("Five is greater than two")

Five is greater than two
Five is greater than two

In [43]:
x = 5
y = "Hello World!"

In [15]:
#a comment
print("Hello World!")

Hello World!

Python Comments

In [18]:
#a comment
print('Hello World!')

Hello World!

In [20]:
print('Hello World!') #this is a comment

Hello World!

In [24]:
#print('Hello world!')
print ('Cheers, Mate!')

Cheers, Mate!

In [26]:
#a comment
#another comment
#one more comment
print('Hello World!')

Hello World!

In [28]:
"""
long comment
another comment
a continuation of a comment
"""
print('Hello World!')

Hello World!

Python Variables

In [31]:
x = 5
y = 'John'
print(x)
print(y)

5
John

In [33]:
x = 5 #x is of type int
x = 'Sally' #x is now of type string
print(x)

Sally

In [41]:
x = str(3) #x will be '3'
y = int(3) #y will be 3
z = float(3) #z will be 3.0

In [49]:
x = 5
y = 'John'
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [51]:
x = "John"
# is the same as
x = 'John'

In [53]:
a = 4
A = 'Sally'
#A will not overwrite a

Variable Names

In [56]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [66]:
"""
no-no variable names

2myvar = "John"
my-var = "John"
my var = "John"
"""

'\nno-no variable names\n\n2myvar = "John"\nmy-var = "John"\nmy var = "John"\n'

Assign Mutliple Values

In [69]:
x, y, z = "orange", "banana", "cherry"
print(x)
print(y)
print(z)

orange
banana
cherry

In [71]:
x = y = z = "orange"
print(x)
print(y)
print(z)

orange
orange
orange

In [73]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

Output Variables

In [76]:
x = "Python is ok"
print(x)

Python is ok

In [78]:
x = "Python"
y = "is"
z = "okay"
print(x, y, z)

Python is okay

In [80]:
x = "Python "
y = "is "
z = "okay"
print(x + y + z)

Python is okay

In [82]:
x = 5
y = 10
print(x + y)

15

In [96]:
"""
will result in an error:
x = 5
y = "John"
print(x + y)
"""

'\nwill result in an error:\nx = 5\ny = "John"\nprint(x + y)\n'

In [98]:
x = 5
y = "John"
print(x, y)

5 John

Global Variables

In [101]:
x = "ookay"

def func():
  print("Python is " + x)

func()

Python is ookay

In [103]:
x = "ok"

def func():
  x = "alright"
  print("Python is " + x)

func()

print("Python is " + x)

Python is alright
Python is ok

In [105]:
x = "nice"

def func():
  global x
  x = "alright"

func()

print("Python is " + x)

Python is alright

Python Data Types

In [108]:
x = 5
print(type(x))

<class 'int'>

In [118]:
x = "Hello World"	#str	
y = 20	#int	
z = 20.5	#float	
a = 1j	#complex	
b = ["apple", "banana", "cherry"]	#list	
c = ("apple", "banana", "cherry")	#tuple	
d = range(6)	#range	
e = {"name" : "John", "age" : 36}	#dict	
f = {"apple", "banana", "cherry"}	#set	
g = frozenset({"apple", "banana", "cherry"})	#frozenset	
h = True	#bool	
i = b"Hello"	#bytes	
j = bytearray(5)	#bytearray	
k = memoryview(bytes(5))	#memoryview	
l = None #NoneType

Python Numbers

In [121]:
x = 1    # int
y = 3.7  # float
z = 1j   # complex

In [128]:
x = 1 
y = 3.7
z = 1j 
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [134]:
#ints
x = 1
y = 394929479040532
z = -299347924

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [136]:
#floats
x = 1.80
y = 2.0
z = -46.53

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [138]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [140]:
#complex
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [142]:
x = 8    # int
y = 1.4  # float
z = 3j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

8.0
1
(8+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [144]:
import random

print(random.randrange(1, 10))

2

Python Casting

In [149]:
x = int(1)   # x will be 1
y = int(5.7) # y will be 5
z = int("9") # z will be 9

In [151]:
x = float(1)     # x will be 1.0
y = float(5.7)   # y will be 5.7
z = float("9")   # z will be 9.0
w = float("6.3") # w will be 6.3

In [153]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

Python Strings

In [156]:
print("Hello")
print('Hello')

Hello
Hello

In [158]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [162]:
a = "Привет"
print(a)

Привет

In [164]:
a = """Something something something,
then we have something something,
then something again and
again."""
print(a)

Something something something,
then we have something something,
then something again and
again.

In [166]:
a = '''Something something something,
then we have something something,
then something again and
again.'''
print(a)

Something something something,
then we have something something,
then something again and
again.

In [168]:
a = "Hello World!"
print(a[1])

e

In [170]:
for x in "яблоко":
  print(x)

я
б
л
о
к
о

In [172]:
a = "Hello World!"
print(len(a))

12

In [174]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [176]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [178]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [180]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

Slicing Strings

In [183]:
b = "Hello World!"
print(b[2:5])

llo

In [185]:
b = "Hello, World!"
print(b[:5])

Hello

In [187]:
b = "Hello World!"
print(b[2:])

llo World!

In [189]:
b = "Hello, World!"
print(b[-5:-2])

orl

Modify Strings

In [192]:
a = "Hello World!"
print(a.upper())

HELLO WORLD!

In [194]:
a = "Hello World!"
print(a.lower())

hello world!

In [198]:
a = "    Hello World!    "
print(a.strip())

Hello World!

In [200]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [202]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

Concatenate Strings

In [205]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [207]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

Format Strings

In [210]:
age = 19
txt = f"My name is Lera, I am {age}"
print(txt)

My name is Lera, I am 19

In [212]:
price = 943
txt = f"The price is {price} tenge"
print(txt)

The price is 943 tenge

In [214]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

Escape Characters

In [217]:
txt = "We are the so-called \"Vikings\" from the north."